$bodyBackgroundColor: rgb(180, 175, 175);
$backgroundShadowColor: rgb(23, 31, 21);
$mainContainerColor: rgb(94, 116, 88);
$mainContainerBorderColor: rgb(116, 116, 116);
$gameWonOverlayColor: rgba(39, 39, 39, 0.8);
$occupiedTilecolor: rgb(50, 61, 48);
$occupiedTileBorderColor: rgb(63, 80, 65);

body {
    background-size: cover;
    background-color: $bodyBackgroundColor;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding-top: 2vh;
}

.main-container {
    align-items: center;
    background-color: $mainContainerColor;
    border: 10px inset $mainContainerBorderColor;
    border-radius: 8px;
    display: inline-flex;
    flex-direction: column;
    margin-top: 1.25rem;
}

.side-container {
    align-items: center;
    background-color: $mainContainerColor;
    border-radius: 8px;
    box-shadow: 5px 5px 14px $backgroundShadowColor;
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin-top: 1.25rem;
    width: 25vw;
}

.main-container__tilerow {
    align-items: center;
    display: flex;
}

.main-container__tile {
    border: 4px solid $mainContainerColor;
    height: 1.5rem;
    width: 1.5rem;
    &--hidden {
        display: none;
    }
    &--occupied {
        background-color: $occupiedTilecolor;
        border: 4px outset $occupiedTileBorderColor;
        border-radius: 5px;
    }
}

.gameover-overlay {
    align-items: center;
    background-color: $gameWonOverlayColor;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    &--closed {
        display: none;
    }
}

.gameover-popup {
    display: flex;
    height: 30vh;
    width: 40vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
    span {
        color: black;
    }
    button {
        display: block;
        flex-grow: 0;
    }    
}

.game-won-popup__final-time {
    font-size: 2rem;
}